{
  "env": {
    "development": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store",
              "@views": "./src/views",
              "@utils": "./src/utils",
              "@api": "./src/api/index.ts"
            }
          }
        ]
      ]
    },
    "production": {
      "presets": [
        "next/babel"
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store",
              "@views": "./src/views",
              "@utils": "./src/utils",
              "@api": "./src/api/index.ts"
            }
          }
        ]
      ]
    },
    "test": {
      "presets": [
        [
          "next/babel",
          {
            "preset-env": {
              "modules": "commonjs"
            }
          }
        ],
      ],
      "plugins": [
        [
          "module-resolver",
          {
            "root": [
              "./"
            ],
            "alias": {
              "@components": "./src/components",
              "@containers": "./src/containers",
              "@common": "./src/common",
              "@store": "./src/store",
              "@views": "./src/views",
              "@utils": "./src/utils",
              "@api": "./src/api/index.ts"
            }
          }
        ]
      ]
    }
  }
}
