@import '~antd/dist/antd.css';

html,
body,
body > div:first-child,
#__next,
#__next > div,
#__next > div > div {
  min-height: 100%;
  display: flex;
  flex: auto;
  height: auto !important;
}

html, body {
  padding: 0;
}

.double-line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
